.model{font-weight:bold;font-style: italic;color:#FF0000}
.brand{font-weight:bold;font-style: italic;color:#CD1076}
.year{font-weight:bold;font-style: italic;color:#00008B}
.mileage{font-weight:bold;font-style: italic;color:#8B4513}
.cost{font-weight:bold;font-style: italic;color:#607B8B}
.photos img{width:70px;}